*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #C2C2C2;
}

/*barra superior*/
header {
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px 0px;
    position: relative;
}

/*container do conteudo do header*/
.menu {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*área de login/cadastro*/
.auth{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    left: -1%;
}

/*estilos individuais do login/signup*/
.auth .login{
    text-decoration: none;
    color: #252525;
    font-weight: 500;
}

.auth .signup{
    text-decoration: none;
    color: #252525;
    font-size: 0.85rem;
    margin-top: 4px;
}

.auth .signup:hover{
    text-decoration: underline;
}

/*estilos logo*/

.Logo img{
    position: absolute;
    height: 100px;
    left: 0%;
    top: -0.5rem;
    width: auto;
    object-fit: contain;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 250px 20px;
}

.login-container {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form label {
    margin-bottom: 8px;
    font-weight: bold;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.login-form input[type="submit"] {
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.login-form input[type="submit"]:hover {
    background-color: #0056b3;
}
