* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #C2C2C2;
}

/* Barra superior */
header {
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px 0px;
    position: relative;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 250px 20px;
}

.cadastro-container {
    background-color: #fff;
    max-width: 400px;
    margin: 60px auto;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.cadastro-container h1 {
    margin-bottom: 24px;
    color: #1e3a8a;
}


form label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #333;
    font-weight: 500;
}


form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border 0.3s;
}

form input:focus {
    border-color: #1e40af;
    outline: none;
}


form button {
    width: 100%;
    padding: 12px;
    background-color: #1e40af;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #1d4ed8;
}

.cadastro-container p {
    margin-top: 15px;
    font-size: 14px;
}

.cadastro-container a {
    color: #1e3a8a;
    text-decoration: none;
}

.cadastro-container a:hover {
    text-decoration: underline;
}
