*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #C2C2C2;
}

/*barra superior*/
header {
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px 0px;
    position: relative;
}

/*container do conteudo do header*/
.menu {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*menu principal*/
.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/*estilo e animação do link*/
.nav-links li a {
    position: relative;
    text-decoration: none;
    color: #252525;
    font-weight: 500;
    padding: 5px 0;
    top: 10px;
}

/*animação do link*/
.nav-links li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    width: 0%;
    height: 2px;
    background-color: #2C3E50;
    transition: width 0.3s ease;
}
.nav-links li a:hover::after{
    width: 100%;
}

/*área de login/cadastro*/
.auth{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    left: 95%;
}

/*estilos individuais do login/signup*/
.auth .login{
    text-decoration: none;
    color: #252525;
    font-weight: 500;
}

.auth .signup{
    text-decoration: none;
    color: #252525;
    font-size: 0.85rem;
    margin-top: 4px;
}

.auth .login:hover{
    text-decoration: underline;
}

/*estilos logo*/

.Logo img{
    position: absolute;
    height: 100px;
    left: -160.5%;
    top: -2.4rem;
    width: auto;
    object-fit: contain;
}

.menu-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0 30px;
    color: #252525;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

/* Versão Mobile */
@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        position: static;
        transform: none;
        display: flex; /* esconde o menu */
        gap: 40px;
        padding: 20px;
        background-color: white;
        width: 100%;
        transition: max-height 0.3s ease-in-out;
        overflow: hidden;
        max-height: 0;
    }

    .nav-links.active {
        display: flex; /* mostra ao clicar */
        max-height: 500px;
    }

    .auth {
        display: none;
    }

    .menu-toggle {
        order: 3;
        display: block;
        margin-left: auto;
    }

    .Logo img {
        position: static;
        height: 70px;
        margin-top: -10%;
    }

    .menu {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    .submenu{
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
        flex-direction: column;
        padding-left: 20px;
        margin-top: 20px;
    }

    .submenu li{
        margin: 20px 0;
    }

    .has-submenu.active .submenu{
    max-height: 700px;
    }
}

